
.furnweb1{
    position:relative;
    right: 702px;
    bottom: 407px;
    
    

    
   }
   button{
    position: relative;
    top: 100px;
    left: 300px;
   }
   .browse{
    position: relative;
    bottom: 40px;
   }
   